name: Build deck JSON

on:
  push:
    paths:
      - "lists/**"
      - "SCRIPTS/deckTextToJSON.py"
      - ".github/workflows/build-json.yml"
  workflow_dispatch: {}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Generate JSON
        id: generate
        run: python SCRIPTS/deckTextToJSON.py INPUT

      - name: Show file llocation
        run: |
          echo "output at:   ${{ steps.generate.outputs.decks_path }}"
          ls -la "$(dirname "${{ steps.generate.outputs.decks_path }}")"


      - name: Commit JSON
        run: |
          if [[ -n "$(git status --porcelain data/decks.json)" ]]; then
            git config user.name "github-actions[bot]"
            git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
            git add data/all_cards.json
            git commit -m "chore: update all_cards.json"
            git push
          else
            echo "No changes to commit."
          fi
      
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: decks-json
          path: ${{ steps.generate.outputs.decks_path }}
          if-no-files-found: error

